.header {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  gap: 40px;
  place-items: center;
}
.header h3 {
  margin-bottom: 20px;
}
.header p a:hover {
  color: var(--email);
  text-decoration: underline;
}
.image {
  padding: 0;
  border-radius: 50%;
}
.btn {
  display: inline-block;
  background: var(--projectBtn);
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}
.btn:hover {
  opacity: 0.5;
}
