.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3rem;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2rem;
  font-weight: 400;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  grid-gap: 80px;
  margin: 80px 20px;
}
.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.projects p {
  color: #ccc;
  margin-top: 4px;
}
.images:hover {
  animation: grow 1s;
  animation-fill-mode: forwards;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
