.portfolio {
  text-align: center;
}
.portfolio > h1 {
  margin-top: 2rem;
  display: flex;
  place-content: center;
}
.portfolio > h2 {
  margin-top: 80px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  gap: 80px;
  margin: 80px 20px;
}
.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.projects p {
  color: var(--projectsClr);
  margin-top: 4px;
}
.images:hover {
  animation: grow 1s;
  animation-fill-mode: forwards;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
